<h3>Application list <button class="btn btn-xs"><i class="fa fa-plus" ng-click="newApplication()"></i></button></h3>
<div class="row">
    <div class="col-md-6">
        <input class="pull-right" type="text" id="searchTextBox" ng-model="filterService.searchText" placeholder="Filter">
        <table class="table">
            <thead><tr><th></th><th>Position</th><th>Company</th><th>Recruiter</th><th>Interviews</th><th></th></tr></thead>
            <tbody>
                <tr class="jobapps" ng-repeat="jobapp in jobapps | filter:filterService.searchText">
                    <td><button class="btn btn-xs" ng-click="removeApplication(jobapp)"><i class="fa fa-remove"></i></button></td>
                    <td>{{jobapp.position}}</td>
                    <td><a href="{{jobapp.site}}">{{jobapp.company}}</a></td>
                    <td>{{jobapp.recruiter.person}} ({{jobapp.recruiter.company}})</td>
                    <td>{{jobapp.interviews.length}}</td>
                    <td><button class="btn btn-xs" ng-click="selectApplication(jobapp)"><i class="fa fa-pencil"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6" ng-show="current">
        <div class="panel panel-default">
            <form name="currentForm" class="panel-body form-inline">
                <div>
                    <h4>Position</h3>
                    <div class="form-group">
                        <cp-input label="Job title" ng-model="current.position"></cp-input>
                        <cp-input label="Company" prefix="at" ng-model="current.company"></cp-input>
                    </div>
                </div>
                <div>
                    <h4>Recruiter</h4>
                    <div class="form-group">
                        <cp-input label="Person" ng-model="current.recruiter.person"></cp-input>
                        <cp-input label="Company" prefix="at" ng-model="current.recruiter.company"></cp-input>
                        <!--<div class="input-group">
                            <label class="sr-only" for="form-recruiter-company">Company</label>
                            <div class="input-group-addon">at</div>
                            <input id="form-recruiter-company" class="form-control sf-typeahead" type="text" datasets="recruitercompanies" placeholder="Company" ng-model="current.recruiter.company"><a class="input-group-addon" target="_blank" href="{{current.recruiter.company.url}}"><i class="fa fa-link"></i></a>
                        </div>-->
                    </div>
                </div>
                <h4>Interviews <button class="btn btn-xs"><i class="fa fa-plus" ng-click="current.interviews.push({})"></i></button></h4>
                <accordion>
                    <accordion-group heading="{{interview.type}}" is-open="$last" ng-repeat="interview in current.interviews">
                        <accordion-heading>
                            {{interview.type}} <button class="pull-right btn btn-xs" ng-click="removeInterview(interview, $event)"><i class="fa fa-minus"></i></button>
                        </accordion-heading>
                        <div>
                            <div class="form-group">
                                <cp-input label="Type" ng-model="interview.type"></cp-input>
                                <cp-datepicker label="Interview date" prefix="on" date-format="yyyy-MM-dd" close-text="Close" ng-model="interview.date"></cp-datepicker>
                                <cp-input label="Interviewer" prefix="with" ng-model="interview.person"></cp-input>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <label>Feedback</label>
                                    <textarea class="form-control" type="text" rows="6" placeholder="Feedback" ng-model="interview.feedback"></textarea>
                                </div>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
                <button class="btn btn-sm btn-primary" ng-click="saveApplication()" ng-disabled="currentForm.$invalid || !currentForm.$dirty">Save</button>
            </form>
        </div>
    </div>
</div>
