<div ng-controller="LoginCtrl" class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h3>Log in</h3>
        </div>
        <div class="col-md-4">
            <form class="form-horizontal" role="form">
                <h4>with a username/password</h4>
                <div ng-show="newuser" class="form-group">
                    <label for="name" class="col-sm-3 control-label">Full name</label>
                    <input type="text" placeholder="John Smith" ng-model="user.name">
                </div>
                <div class="form-group">
                    <label for="username" class="col-sm-3 control-label">Username</label>
                    <input type="text" placeholder="you@youraddress.com" ng-model="user.username">
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <input type="password" ng-model="user.password">
                </div>
                <div class="alert alert-danger" ng-show="usererr">There was an error</div>
                <div ng-show="!newuser"><button class="btn btn-primary" ng-click="login()">Log in</button> <span>or, <a href ng-click="newuser = true">create new user</a></span></div>
                <div ng-show="newuser"><button class="btn btn-primary" ng-click="createUser()">Create user</button> <span>or, <a href ng-click="newuser = false">existing users, login</a></span></div>
            </form>
        </div>
        <div class="col-md-4">
            <h4>with a service</h4>
            <a href="/auth/google" class="signin-google"><span class="sr-only">Sign in with Google</span></a>
        </div>
    </div>
</div>
