<h3 class="center-block">Application list</h3>
<div class="row">
    <div class="col-md-6">
        <input class="pull-right" type="text" id="searchTextBox" ng-model="filterService.searchText" placeholder="Filter">
        <table class="table">
            <thead><tr><th>Position</th><th>Company</th><th>Recruiter</th><th>Interviews</th></tr></thead>
            <tbody>
                <tr class="jobapps" ng-repeat="jobapp in jobapps | filter:filterService.searchText">
                    <td>{{jobapp.position}}</td>
                    <td><a href="{{jobapp.site}}">{{jobapp.company}}</a></td>
                    <td>{{jobapp.recruiter.person}} ({{jobapp.recruiter.company}})</td>
                    <td>{{jobapp.interviews.length}}</td>
                    <td><button ng-click="$parent.current = jobapp">View</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6" ng-show="current">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">Essentials</h3></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Position</label>
                            <input class="form-control" type="text" ng-model="current.position">
                        </div>
                        <div class="form-group">
                            <label>Company</label>
                            <input class="form-control" type="text" ng-model="current.company">
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">Recruiter</h3></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Company</label>
                            <input class="form-control sf-typeahead" type="text" datasets="recruitercompanies" ng-model="current.recruiter.company">
                        </div>
                        <div class="form-group">
                            <label>Person</label>
                            <input class="form-control" type="text" ng-model="current.recruiter.person">
                        </div>
                    </div>
                </div>
                <h4>Interviews</h4>
                <accordion>
                    <accordion-group heading="{{interview.type}}" ng-repeat="interview in current.interviews">
                        <div class="form-group">
                            <label>Type</label>
                            <input class="form-control" type="text" ng-model="interview.type">
                        </div>
                        <div class="form-group">
                            <label>Date</label>
                            <input class="form-control" type="text" ng-model="interview.date">
                        </div>
                        <div class="form-group">
                            <label>Person</label>
                            <input class="form-control" type="text" ng-model="interview.person">
                        </div>
                        <div class="form-group">
                            <label>Feedback</label>
                            <input class="form-control" type="text" ng-model="interview.feedback">
                        </div>
                    </accordion-group>
                </accordion>
                <button>Save</button>
            </div>
        </div>
    </div>
</div>
